# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.vscode/
.idea/
.project
.pydevproject
.cproject

# Data and results
data/raw/*
data/processed/*
results/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!results/.gitkeep
